* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-box: #EFFCF9;
    --blue-box: #F1F6F9;
    --orange-box: #FDF0ED;
    --green-text: #74BEB4;
    --blue-text: #5E93A8;
    --orange-text: #EA846C;
    --grey-box: #ECECEC;
    --black-text: #000000;
}

/* Main Page */
.outer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Sales overview */

.article-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
    max-width: 100%;
    margin: 10px 0;
}

.article-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-basis: 400px;
    min-height: 300px;
    gap: 20px;
    flex-grow: 0;
    flex-shrink: 1;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 20px;
}

.products-sold {
    background-color: var(--green-box);
    color: var(--green-text);
    border: 1px solid var(--green-text);
}

.products-on-stock {
    background-color: var(--blue-box);
    color: var(--blue-text);
    border: 1px solid var(--blue-text);
}

.products-to-be-sold {
    background-color: var(--orange-box);
    color: var(--orange-text);
    border: 1px solid var(--orange-text);
}

/* BestProduct block */

.article-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-box);
    border: 1px dashed var(--black-text);
    border-radius: 5px;
    max-width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.image-product {
    flex:1;
    padding: 50px 25px;
}

.image-product img {
    max-width: 100%;
    height: auto;
}

.article-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex:2.5;
}

.article-box-2 h2 {
    margin: 10px 0 30px 0;
}

.article-box-2 h3 {
    margin: 0 0 10px 0;
}

.article-box-2 h4 {
    margin: 10px 0 0 0;
}

.article-box-2 ul {
    margin: 10px 0 0 0;
}

.productOptions {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
    gap: 12px;
}

.iconSize {
    width: 10px;
    margin-right: 5px;
}

/*  Alle TVs block */

button {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.sortButtons {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

.brandOverview ul {
    margin-bottom: 30px;
}

.allignLeft {
    margin-left: 0;
}

.article-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
}

.article-box-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex:2.5;
}

.article-box-3 h2 {
    margin: 10px 0 30px 0;
}

.article-box-3 h3 {
    margin: 0 0 10px 0;
}


.article-box-3 h4 {
    margin: 10px 0 0 0;
}

.article-box-3 ul {
    margin: 10px 0 0 0;
}